<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=e     =dge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body class="flex flex-column justify-between">
    <header class="flex justify-between align-items-center">
        <h1>
    
           Personal Journal Web Application  {{username}}
           
        </h1>

       
        {{#if username}}
        <nav>
            <ul class="flex justify-between">
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/venues">Venues</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        
        {{/if}}
    </header>
    
         {{#if message}}
            <p class="warning label">{{message}}</p>
        {{/if}}
        {{{body}}}


    <footer class="flex justify-between">
        &copy; 2022
    </footer>
    <script src="/js/app.js"></script>
</body>

</html>