<main>
    <section class="flex justify-center">
        <form action="/login" method="post">
            <fieldset>
                <legend>Login</legend>
                <section class="field-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </section>
                <section class="field-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </section>
                <section class="text-right">
                    <input class="btn primary" type="submit" value="Login">
                </section>
            </fieldset>
        </form>
    </section>
</main>